/* Estilos Gerais */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

html, body {
    overflow-x: hidden; /* Impede o scroll horizontal */
    width: 100%; /* Garante que o conteúdo ocupe a largura da tela */
}

/* Estilo do Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d1d1d;
    padding: 20px 0;
    position: relative;
    z-index: 1;
}

/* Estilo da Logo */
.logo {
    font-size: 15px;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    margin-right: 30px;
    cursor: pointer;
}

.logo span {
    color: #e13700;
    cursor: pointer;
}

/* Estilo do Menu de Navegação */
nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    position: relative;
}

.nav-links li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    padding: 5px 10px;
    font-weight: 600;
    transition: color 0.3s;
    cursor: pointer;
}

.nav-links li a:hover {
    color: #e13700;
}

header::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 1.5px;
    background-color: #ffffff;
    z-index: -1;
    border-radius: 5px;
}

/* Estilo do Slider */
.slider {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 50px 0px 0px; /* Aumentei a altura aqui */
    cursor: default;
}

.slides-container {
    display: flex;
    transition: transform 1s ease;
}

.slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
}

.dots-container {
    text-align: center;
    margin-top: 150px;
}

/* Estilo dos bullets (dots) */
.dot {
    height: 12px; /* Reduzi o tamanho */
    width: 12px;  /* Reduzi o tamanho */
    margin: 0 5px;
    border: 2px solid #ffffff; /* Borda branca para os bullets vazados */
    background-color: transparent; /* Deixa o fundo transparente */
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.dot.active {
    background-color: #e13700; /* Preenchido quando ativo */
    border-color: #e13700; /* Borda fica da mesma cor quando ativo */
}

.dot:hover {
    cursor: pointer;
}
/* Estilos de interatividade */
* {
    cursor: default;
}

/* Divisor triangular entre o slider e a seção "Sobre Mim" */
.triangle-divider {
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;  /* Metade da largura da viewport */
    border-right: 50vw solid transparent; /* Metade da largura da viewport */
    border-top: 80px solid #1d1d1d;       /* Aumentei a altura da borda superior */
    margin-bottom: -1px;
    background: #ffffff;
}

.slider h1 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 3.646vw;
    position: relative; /* Necessário para o pseudo-elemento */
    display: inline-block; /* Permite controle preciso do pseudo-elemento */
    padding: 10px 20px; /* Adiciona um pouco de espaço ao redor do texto */
    margin: 15px;
}

/* Traço superior no início do texto */
.slider h1::before {
    content: '';
    position: absolute;
    top: -15px; /* Ajuste a distância da borda superior */
    left: 0;
    width: 20px; /* Comprimento do traço superior */
    border-top: 3px solid #e13700; /* Cor e espessura do traço superior */
}

/* Traço inferior no final do texto */
.slider h1::after {
    content: '';
    position: absolute;
    bottom: -15px; /* Ajuste a distância da borda inferior */
    right: 0;
    width: 20px; /* Comprimento do traço inferior */
    border-bottom: 3px solid #e13700; /* Cor e espessura do traço inferior */
}

.slider p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600; /* Utilizando Raleway SemiBold */
    font-size: 1.563vw;
}

#ctn-projetos {
    border: 2px solid #ffffff; /* Cor e espessura do traço inferior */
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    background-color: #e13700;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    position: relative;
    top: 60px;

}

/* Estilo da Seção Sobre Mim */
#about {
    background-color: #ffffff; /* Cor de fundo da seção */
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto;
    border: 2px solid #e13700;
}

/* A foto começa fora da tela à esquerda */
.about-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100px); /* Inicialmente fora da tela */
    opacity: 0; /* Começa invisível */
    transition: transform 1s ease, opacity 1s ease; /* Transição para animação */
}

/* O conteúdo da direita começa fora da tela à direita */
.about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    text-align: center;
    transform: translateX(100px); /* Inicialmente fora da tela */
    opacity: 0; /* Começa invisível */
    transition: transform 1s ease, opacity 1s ease; /* Transição para animação */
}

.about-right h2 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 40px;
    color: #e13700;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.about-right h2::before,
.about-right h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 3px;
    background-color: #e13700;
}

.about-right h2::before {
    left: 10%;
    transform: translateY(-50%);
}

.about-right h2::after {
    right: 10%;
    transform: translateY(-50%);
}

.about-right p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #a5a5a5;
    line-height: 1.6;
    margin-top: 20px;
}

/* Garantir que a animação seja ativada em todas as telas */
@media (max-width: 1024px) {
    /* Para telas de até 1024px, fazer a animação visível */
    .about-left, 
    .about-right {
        opacity: 1; /* Visível */
        transform: translateX(0); /* Não desloca */
        transition: opacity 1s ease, transform 1s ease; /* Garantir animação */
    }
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column; /* Coloca os elementos em coluna em telas menores */
    }

    .about-left,
    .about-right {
        opacity: 1; /* Torna visível */
        transform: translateX(0); /* Remove o efeito de deslocamento */
        transition: opacity 1s ease, transform 1s ease; /* Transição para animação */
    }

    .about-right h2 {
        font-size: 30px; /* Ajuste no tamanho do título */
    }

    .about-right p {
        font-size: 16px; /* Ajuste no tamanho do texto */
    }
}



/* Estilo da Seção Nossos Serviços */
#services {
    background-color: #ffffff; /* Cor de fundo da seção */
    padding: 60px 20px;
    text-align: center;
}

#services h2 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 40px;
    color: #e13700;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#services h2::before,
#services h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 3px;
    background-color: #e13700;
}

#services h2::before {
    left: -20%;
    transform: translateY(-50%);
}

#services h2::after {
    right: -20%;
    transform: translateY(-50%);
}

/* Estilo dos serviços - exibe 4 serviços na mesma linha */
.services-container {
    display: flex;
    justify-content: space-between; /* Espaço igual entre os serviços */
    flex-wrap: nowrap; /* Não permite que quebrem para a linha de baixo */
    gap: 30px; /* Espaçamento entre os serviços */
    margin-top: 40px;
}

.service-item {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 23%; /* Define a largura dos serviços para 4 itens na linha */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.service-item h3 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 30px;
    color: #e13700;
    margin-bottom: 15px;
}

.service-item p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #a5a5a5;
    line-height: 1.6;
}

/* Estilo da Seção Projetos */
#projects {
    background-color: #ffffff; /* Cor de fundo da seção */
    padding: 60px 20px;
    text-align: center;
}

#projects h2 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 40px;
    color: #e13700;
    margin-bottom: 20px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#projects h2::before,
#projects h2::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 50px;
    height: 3px;
    background-color: #e13700;
}

#projects h2::before {
    left: -30%;
    transform: translateY(-50%);
}

#projects h2::after {
    right: -30%;
    transform: translateY(-50%);
}

/* Estilo dos projetos - exibe 4 projetos na mesma linha */
.projects-container {
    display: flex;
    justify-content: space-between; /* Espaço igual entre os projetos */
    flex-wrap: nowrap; /* Não permite que quebrem para a linha de baixo */
    gap: 30px; /* Espaçamento entre os projetos */
    margin-top: 40px;
}

.project-item {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 23%; /* Define a largura dos projetos para 4 itens na linha */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.project-item h3 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 30px;
    color: #e13700;
    margin-bottom: 15px;
}

.project-item p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #a5a5a5;
    line-height: 1.6;
}

/* Estilo da Seção Contato */
#contact {
    background-color: #ffffff;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact h2 {
    font-family: 'BigNoodleTitling', sans-serif;
    font-size: 40px;
    color: #e13700;
    text-align: center;
    margin-bottom: 10px;
}

#contact p {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #a5a5a5;
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
}

/* Container de Informações de Contato */
.contact-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.contact-item i {
    font-size: 40px;
    color: #e13700;
    margin-bottom: 10px;
}

.contact-item p {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #a5a5a5;
}

.contact-item a {
    color: #e13700;
    text-decoration: none;
    font-weight: 600;
}

.contact-item a:hover {
    text-decoration: underline;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .contact-item {
        margin: 15px 0;
    }

    #contact h2 {
        font-size: 30px;
    }

    #contact p {
        font-size: 16px;
    }
}


/* Estilos do Footer */
footer {
    position: relative;
    background-color: #1d1d1d;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    z-index: 1; /* Para garantir que o conteúdo do footer fique sobre o triângulo */
}

footer .footer-triangle {
    position: absolute;
    top: -20px; /* Coloca o triângulo para cima */
    left: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 20px solid #1d1d1d; /* Agora a borda inferior cria o triângulo apontando para cima */
    z-index: -1; /* Coloca o triângulo atrás do conteúdo do footer */
}

footer p {
    font-size: 14px;
    margin: 0;
}

/* Font Awesome Fix */
.fab {
    font-size: 24px;
    color: #e13700;
}

.fab:hover {
    color: #f5a623;
}

/* Estilo para o menu hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 30px;
    height: 4px;
    margin: 4px 0;
    background-color: #e13700;
}

/* Estilo da versão mobile */
@media screen and (max-width: 768px) {
    .nav-links {
        display: none; /* Esconde o menu na versão mobile */
        position: absolute;
        top: 70px; /* Ajuste conforme necessário */
        right: 0;
        background-color: #1d1d1d;
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.active {
        display: block; /* Exibe o menu quando estiver ativo */
    }

    .hamburger {
        display: flex; /* Exibe o botão do menu hambúrguer */
        position: absolute;
        top: 13px;
        right: 20px;
    }
}
